<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1> OPPPPS!</h1>
                <h2> YOU HAVE SOME TROUBLES!</h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="error-actions">
                    <a href="/home" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a>
                </div>
            </div>
            <div class="text-center pull-left"><img src="../assets/monkey.gif"/></div>
        </div>
    </div>
</div>