<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><strong>Responsive headings</strong></h1>
            <p>By adding an appropriate class, you can make your heading responsive. Thanks to that it will look good on
                all
                screen sizes. </p>
            <p><strong>Resize your browser windows to see the effect.</strong></p>
            <section>
                <h2 class="h1-responsive">h1. Resize your browser windows to see the effect</h2>
                <hr>
                <h2 class="h2-responsive">h2. Resize your browser windows to see the effect</h2>
                <hr>
                <h3 class="h3-responsive">h3. heading</h3>
                <hr>
                <h4 class="h4-responsive">h4. heading</h4>
                <hr>
                <h5 class="h5-responsive">h5. heading</h5>
            </section>
        </div>
    </div>
</div>