/* You can add global styles to this file, and also import other style files */
.form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.form-row > .col, .form-row > [class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}

.form-group {
    margin-bottom: 1rem;
}

.error-template {
    padding: 40px 15px;
    text-align: left;
    float: left;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}

.form-control.ng-touched.ng-invalid {
    border: 1px solid red;
}

.alert{
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}